/* Fills to edge */
* {
    padding: 0px;
    margin: 0px;
}

:root { /* color options */
    --yel: #d1b200;
    --light: #faec9e6c;
    --main-blue: #001885;
    --light-blue: #a8cbff;
    --dark: #000000;
}

body {
    background-color: #c2d1df;
}

/* Navigation Bar */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid #000000;
}

/* Large banner image */
.hero {

    background: url('../images/IMG_4420.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.portrait {
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    width: 20%;
    padding: 15px;
}

 /* Adds transparent, decorative bar in header */
header div.header-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000b9;
    justify-content: space-between;
}

header h1 {
    font-size: 40px;
    color: var(--yel);
    padding-left: 15px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

header nav {
    padding-top: 10px;
    margin-right: 20px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: 25px;
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header nav ul li {
    margin-left: 5px;
}

a {
    text-decoration: #000000;
}

a:hover {
    color: var(--yel);
    border-width: 10px;
}

/* Begins main content of page */
.main {
    height: 1000px;
    width: 100%;
    background: var(--light);
    margin-top: 50px;
    background-color: #c2d1df;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* groups name and grid items. ex: item-1&2 item-3&4 */
.group-1 {
    height: 50%;
    width: 90%;
    margin-bottom: 10%;
}

.group-2 {
    height: 50%;
    width: 90%;
}

/* modifies items 1 and 3 */
.box {
    font-stretch: 90%;
    font-size: 25px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    text-align: right;
    text-shadow: 2px 2px #000000;
    color: var(--yel);
}

.item-1 {
    float: left;
    padding: 10px 10px 10px 80px;
}

.item-2 {
    margin-left: 25%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 25px;
    color: var(--dark);  
    background: linear-gradient(360deg, #005baa,  #ffffff);
    border: inset;
    border: solid, thick;
    overflow: auto;
}

.item-3 {
    float: left;
    padding: 16px 10px 10px 80px;
}

.item-4 {
    width: 52%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: inset;
    border: solid, thick;
    margin-left: 25%;
    padding: 10px 10px 20px 10px;
}

/* creates grid for item-4, project images */
.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 10px;
    grid-auto-flow: dense;
    text-align: center;
    font-size: 20px;
}

.horiseon {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background-size: cover;
    background-image: url(../images/horiseon.png);
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}

.run-buddy {
    background-size: cover;
    background-image: url(../images/run-buddy.png);
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}

.coming-soon {
    background-size: cover;
    background-image: url(../images/coming-soon.png);
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}
/* End of main content for page */

/* contact information */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--yel);
    background-color: var(--main-blue);
}

.contact {
    float: left;
    height: 80px;
    padding: 25px 0 0 50px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    text-shadow: 2px 2px #000000;
    font-size: 25px;
    font-weight: bolder;
    padding: 0px 30px;
    margin: 0px 20px;
}

.list li {
    padding: 25px 15px 0 15px;
}

footer {
    width: 100%;
    height: 60px;
    color: var(--yel);
    background: var(--dark);
}

footer h3 {
    padding-left: 2%;
    padding-top: 1%;
}