/* Fills to edge */
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --yel: #d1b200;
    --light: #faec9e6c;
    --main-blue: #001885;
    --light-blue: #a8cbff;
    --dark: #000000;
}

body {
    background-color: #a6c5e0;
}

/* Navigation Bar */
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid #000000;
}

/* Large banner image */
.hero {

    background: url('../images/IMG_4420.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.portrait {
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    height: 210px;
    width: 220px;
    padding: 15px;
}

 /* Adds transparent, decorative bar in header */
header div.header-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000b9;
    justify-content: space-between;
}

header h1 {
    font-size: 40px;
    color: var(--yel);
    padding-left: 15px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

header nav {
    padding-top: 10px;
    margin-right: 20px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: 25px;
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header nav ul li {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: var(--yel);
}

.main {
    height: 1000px;
    background: var(--light);
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(20, 50px);
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0px;
    grid-auto-flow: dense;

}

.grid-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    font-stretch: 90%;
    font-size: 25px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    text-align: right;
    text-shadow: 2px 2px #000000;
    color: var(--yel);
    background: linear-gradient(360deg, #005baa, #ffffff);
    box-shadow: 4px 4px #000000b4;

}

.item-1 {
    grid-column: 2/span 3;
    grid-row: 3/span 3;
    padding: 10px 10px 10px 30px;
}

.item-2 {
    grid-column: 6/span 10;
    grid-row: 2/span 5;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 25px;
    color: var(--dark);  
    background: linear-gradient(360deg, #005baa,  #ffffff);
}

.item-3 {
    grid-column: 2/span 3;
    grid-row: 10/span 3;
    padding: 16px 30px 10px 10px;
}

.item-4 {
    grid-column: 6/span 5;
    grid-row: 10/span 3;
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(8, 50px);
    grid-gap: 10px;
    width: 600px;
    height: 400px;
    grid-auto-flow: dense;
    text-align: center;
    font-size: 20px;
}

.horiseon {
    grid-column: 1/span 7;
    grid-row: 1/span 7;
    background-image: url(../images/horiseon.png);
    background-size: cover;
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}

.run-buddy {
    grid-column: 8/span 3;
    grid-row: 1/span 3;
    background-size: cover;
    background-image: url(../images/run-buddy.png);
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}

.coming-soon {
    grid-column: 8/span 3;
    grid-row: 5/span 3;
    background-size: cover;
    background-image: url(../images/coming-soon.png);
    border: solid;
    border-style: thick, #000000;
    color: #000000;
}

.contact {
    display: inline-block;
    float: left;
}


footer {
    width: 100%;
    height: 80px;
    background: var(--main-blue);
}
